body {
	max-width: 31.25rem;
	margin: 0 auto;
  }
  /* this is for phone first layout. max width limits how wide it will go. margin 0 outs it in the middle */



body {
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
	color: rgb(40, 40, 40);
}

h2 {
	color: darkred;
}

.warning {
	color: #ff0000;
}

.bg-gray {
	color: lightgray;
}

ol li,
dd {
	color: purple;
}

section.warning {
	background-color: #f6f62fe9;
}

.table-custom {
	color: green;
}

table {
	color: orange;
}
/* the code below is to have the text elements show horizontal */
nav li {
	display: inline-block
}
/* the code below is for the elements to show up stacked */
section.warning img {
	display: block;
}
.section-table {
	background-color:rgb(161, 227, 227);
	/* padding-top: 1rem;
	padding-right: 2rem;
	padding-bottom: 3rem;
	padding-left: 4rem;
	Bellow is the short hand for the above code */
	padding: 1rem 2rem 3rem 4rem;
	margin-top: 6rem;
}

td,
th {
	padding: .5rem;
}
section.warning {
	padding: 1rem .5rem;
}

.table-custom {
	padding: 2rem 1rem 3rem;
}